@model FitSammenWebClient.ViewModel.ClassListViewModel

@{
    var member = new Member();
}

@{
    ViewData["Title"] = "Home Page";
}

<section class="Hero">
    <div class="Hero-inner">
        <div class="text-center">
            <h1 class="overskrift">Fitness sjovere sammen</h1>
            <p class="underoverskrift">Motivation er lettest sammen</p>
        </div>
        <form method="get">
            <div class="filterbar">
                <select name="centre" id="centre">
                    <option value="all">Alle centre</option>
                    <option value="aalborg">Kastetvej</option>
                    <option value="aarhus">Aarhus</option>
                    <option value="odense">Odense</option>
                </select>
                <select name="hold" id="hold">

                    <option value="">Aalborg</option>
                    <option value="">Aarhus</option>
                    <option value="">Odense</option>

                </select>
                <input type="date" />
                <input type="submit" value="Søg" class="btn btn-primary" />
            </div>
        </form>
    </div>
</section>
<section>
    <h1 class="vælg-hold-overskrift">Vælg Hold</h1>
    <div class="hold">
        <button type="button" onclick="ClickLeft()" class="hold-arrow Hold-arrow-left">&#10094;</button>

        <div class="hold-liste">
            @foreach (var item in Model.Classes)
            {
                <div class="hold-card">
                    <br /> <b>Holdtype: </b> @item.ClassType
                    <br /> <b>Hold: </b> @item.ClassType
                    <br /> <b>Lokation: </b>@item.Room.Location.StreetName
                    <b>, </b>@item.Room.Location.Zipcode.City.CityName
                    <br /> <b>Kapacitet: </b>@item.Capacity pladser
                    <br /> <b>Kl: </b> @item.StartTime
                    <br /> <b>Længde: </b>@item.DurationInMinutes minutter
                    <br /> <b>Pladser tilbage: </b>@item.Remainingspots
                    <form method="post" asp-action="SignUpToClass">
                        <input name="User" id="UserNumber" value="@member" hidden="hidden" />
                        <input name="ClassId" id="ClassId" value="@item.Id" hidden="hidden" />
                    <br /> <input type="submit" value="tilmeld" class="btn btn-primary" />
                    </form>
                </div>
            }
        </div>
        <button type="button" onclick="ClickRight()" class="hold-arrow Hold-arrow-right">&#10095;</button>
    </div>
</section>

<script src="~/js/site.js" asp-append-version="true"></script>
