@{
   var tests = new[]
    {
        new { Name = "Yoga" },
        new { Name = "Bodybuilding"},
        new { Name = "Pilates"}
    };

}

@{
    var test2 = new[]
                    {
                new { Name = "Yoga", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "Bodybuilding", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "Pilates", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "Stram op", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "TRX", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "Yoga", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "Bodybuilding", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "Pilates", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "Stram op", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "TRX", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "Yoga", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "Bodybuilding", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "Pilates", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "Stram op", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"},
                new { Name = "TRX", Location = "Aalborg", Capacity = 20, StartTime = "13:00", Duration = "1"}
    };
}

@{
    ViewData["Title"] = "Home Page";
}

<section class="Hero">
    <div class="Hero-inner">
        <div class="text-center">
            <h1 class="overskrift">Fitness sjovere sammen</h1>
            <p class="underoverskrift">Motivation er lettest sammen</p>
        </div>
        <form method="get">
            <div class="filterbar">
                <select name="centre" id="centre">
                    <option value="all">Alle centre</option>
                    <option value="aalborg">Aalborg</option>
                    <option value="aarhus">Aarhus</option>
                    <option value="odense">Odense</option>
                </select>
                <select name="hold" id="hold">
                    @foreach(var item in tests)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
                <input type="date" />
                <input type="submit" value="Søg" class="btn btn-primary" />
            </div>
        </form>
    </div>
</section>
<section>
    <div class="hold">
        <button type="button" class="hold-arrow Hold-arrow-left">‹</button>

        <div class="hold-liste">
            @foreach(var item in test2)
            {
                <div class="hold-card">
                    <br /> <b>Hold: </b> @item.Name
                    <br /> <b>Lokation: </b>@item.Location
                    <br /> <b>Kapacitet: </b>@item.Capacity
                    <br /> <b>Hvornår: </b> @item.StartTime
                    <br /> <b>Længde: </b>@item.Duration
                </div>
            }
        </div>
        <button type="button" class="hold-arrow Hold-arrow-right">›</button>
    </div>
</section>
